<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/manage.css">
    <title>upDate -manage</title>
</head>

<body>

    <header>
        <!-- ヘッダー -->
        <%- include('../components/header'); %>
    </header>


    <div class="manage-wrapper">
        <div class="manage-title-container">
            <p class="manage-title">
                目標を管理
            </p>
        </div>
        <select class="select-category-box" name="select-category">
            <option>
                カテゴリーを選択
            </option>
        </select>
        <div class="manage-container">
            <div class="manage-box">
                <% for (let result in all){ %>
                    <p class="manage-goal">
                        <%= all[result].goal %>
                    </p>
                    <p class="manage-doneAny">
                        <%= all[result].doneAny%>
                    </p>
                    <p class="manage-achivementDegrees">
                        <%= all[result].achivementDegrees%>
                    </p>
                    <% };%>
            </div>
        </div>
        <div class="switch-menu-container">
            <div class="back-home-button">
                <p class="back-home-button-text">
                    ホームに戻る
                </p>
            </div>
        </div>
    </div>
    <p>

    </p>
    <footer>
        <!-- フッター -->
        <%- include('../components/footer'); %>
    </footer>
    <script src="/script/manage.js"></script>
</body>

</html>